body {
  background-color: gray;
  }
image {
	width:100px;
	height:100px;
	object-fit: cover;
}
h1{
  /* Center all <h1></h1> tags */
  text-align: center;
}

p1{
    /* Center all <p1></p1> tags */
	text-align: center;
}
