body {
  background-color: gray;
  }
image.resize {
	width:540px;
	height: auto;
}
h1{
  /* Center all <h1></h1> tags */
  text-align: center;
}

p1{
    /* Center all <p1></p1> tags */
	text-align: center;
}
